/* 
    General Styles used on every website (Don't Repeat Yourself)
*/
*,*::before, *::after{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	height: 100vw;
}

#carousel {
	height: auto;
	width: 100%;
	border: none;
	background: white;
	overflow-x: scroll;
}
#characters {
	height: auto;
	display: flex;
}

.buttons-card{
	display: flex;
	justify-content: space-between;
}

.img-description{
	width: 400px;
}



